<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
    <body>
    <%- include('./partials/userNav.ejs') %>
    <div class="book-content container-fluid">
      <h1><center>List of All Wishes</center></h1>
          <% if (wish.length > 0){ %>
          <!-- loop the data -->
          <table class="table table-dark">
            
          <% wish.forEach(wishes => { %>
            <div class="card mb-2 w-75">
              <div class="card-body">
                <div class="row align-items-start">
                  <div class="col-9">
                    <h5 class="card-title"><%= wishes.Wishitem %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= wishes.author %></h6>
                    <p class="card-text">Description</p>
                    <p class="card-text"><%= wishes.details %></p>
                    <a href='<%= wishes.itemUrl %>' class="card-link" target="_blank"><%= wishes.itemUrl %></a>
                  </div>
                  <div class="col-3">
                    <img src='<%= wishes.wishimg %>'>
                  </div>
                </div>
              </div>
            </div>
          <% }) %> <% } else{ %>
          </table>
          
          <h2>No Books to display</h2>
          <%} %>
    </div>
</body>
</html>

